In [9]:
-- # SQL Básico

-- Ativando uma conexão de banco de dados em memória usando o SGBD H2:

In [3]:
%defaultDatasource jdbc:h2:mem:db

In [15]:
DROP TABLE IF EXISTS Cidade;
DROP TABLE IF EXISTS Pessoa;

In [16]:
 -- EXERCÍCIO 1 --

In [17]:
CREATE TABLE Cidade (
  nome_cidade VARCHAR(30) NOT NULL,
  sigla_estado VARCHAR(2) NOT NULL,
  PRIMARY KEY(nome_cidade),
);

CREATE TABLE Pessoa (
    nome VARCHAR(30) NOT NULL PRIMARY KEY,
    nome_da_mae VARCHAR(30) NOT NULL,
    ano_nascimento INTEGER NOT NULL,
    nome_cidade_natal VARCHAR(30),
    PRIMARY KEY(nome),
    FOREIGN KEY (nome_cidade_natal) references Cidade(nome_cidade),
);

In [18]:
-- EXERCÍCIO 2 --

In [19]:
INSERT INTO Cidade
VALUES ('Campinas', 'SP');
INSERT INTO Cidade
VALUES ('Sao Paulo', 'SP');
INSERT INTO Cidade
VALUES ('Rio de Janeiro', 'RJ');

INSERT INTO Pessoa
VALUES ('Marcio','Maria',1999,'Campinas');
INSERT INTO Pessoa
VALUES ('Gisele','Silmara',1999,'Campinas');
INSERT INTO Pessoa
VALUES ('Joice','Clarice',1980,'Sao Paulo');
INSERT INTO Pessoa
VALUES ('Marcelo','Joana',2010,'Rio de Janeiro');
INSERT INTO Pessoa
VALUES ('Julia','Tatiane',2009,'Sao Paulo');

In [20]:
-- EXERCÍCIO 3 --

In [21]:
SELECT nome_da_mae FROM Pessoa;
SELECT nome_da_mae FROM Pessoa WHERE ano_nascimento < 2008;

In [22]:
--EXERCÍCIO 4--

In [ ]:
--Utilizando o caso anterior

In [28]:
SELECT Pessoa.nome, Pessoa.ano_nascimento, Cidade.nome_cidade, Cidade.sigla_estado
FROM Pessoa, Cidade
WHERE Pessoa.nome_cidade_natal = Cidade.nome_cidade

In [25]:
--Utilizando o caso dos remedios

In [ ]:
SELECT Virus.nome_popular, Medicamento.nome_venda
FROM Virus, Medicamento
WHERE Virus.medicamento = Medicamento.nome_venda AND Medicamento.nome_venda = 'W'

In [ ]:
SELECT Virus.nome_popular, Medicamento.nome_venda
FROM Virus, Medicamento
WHERE Virus.medicamento = Medicamento.nome_venda AND Medicamento.composto_ativo = 'X'

In [26]:
-- EXERCICIO 5 --

In [ ]:
SELECT DISTINCT composto_ativo
FROM Medicamento

In [29]:
-- EXERCICIO 6 --

In [ ]:
SELECT nome_popular_virus
FROM Trata
WHERE composto_ativo_medicamento = 'X'