In [1]:
-- # SQL Básico

-- Ativando uma conexão de banco de dados em memória usando o SGBD H2:

java.lang.RuntimeException:  No datasource

In [2]:
%defaultDatasource jdbc:h2:mem:db

In [64]:
DROP TABLE IF EXISTS Cidade;
DROP TABLE IF EXISTS IRMAOS;
DROP TABLE IF EXISTS TIOS;
DROP TABLE IF EXISTS Pessoa2;
DROP TABLE IF EXISTS Pessoa;

In [65]:
 -- Montando a Tabela --

In [66]:
CREATE TABLE Cidade (
  nome_cidade VARCHAR(30) NOT NULL,
  sigla_estado VARCHAR(2) NOT NULL,
  PRIMARY KEY(nome_cidade),
);

CREATE TABLE Pessoa (
    nome VARCHAR(30) NOT NULL PRIMARY KEY,
    nome_da_mae VARCHAR(30) NOT NULL,
    ano_nascimento INTEGER NOT NULL,
    nome_cidade_natal VARCHAR(30),
    PRIMARY KEY(nome),
    FOREIGN KEY (nome_cidade_natal) references Cidade(nome_cidade),
);

In [67]:
-- Populando a tabela --

In [68]:
INSERT INTO Cidade
VALUES ('Campinas', 'SP');
INSERT INTO Cidade
VALUES ('Sao Paulo', 'SP');
INSERT INTO Cidade
VALUES ('Rio de Janeiro', 'RJ');

INSERT INTO Pessoa
VALUES ('Marcio','Maria',1999,'Campinas');
INSERT INTO Pessoa
VALUES ('Gisele','Silmara',1999,'Campinas');
INSERT INTO Pessoa
VALUES ('Joice','Clarice',1980,'Sao Paulo');
INSERT INTO Pessoa
VALUES ('Marcelo','Joana',2010,'Rio de Janeiro');
INSERT INTO Pessoa
-- Irmãs: Julia e Maria || Miguel e Silmara
VALUES ('Julia','Tatiane',2009,'Sao Paulo');
INSERT INTO Pessoa
VALUES ('Maria','Tatiane',2009,'Sao Paulo');
INSERT INTO Pessoa
VALUES ('Miguel','Gisele',2009,'Sao Paulo');
INSERT INTO Pessoa
VALUES ('Silmara','Gisele',2009,'Sao Paulo');
--Pedro e Ana filhos de Julia, sobrinhos de Maria
INSERT INTO Pessoa
VALUES ('Pedro','Julia',2009,'Sao Paulo');
INSERT INTO Pessoa
VALUES ('Ana','Julia',2009,'Sao Paulo');
--Jucelino e Aline filhos de Silmara, sobrinhos de Miguel
INSERT INTO Pessoa
VALUES ('Jucelino','Silmara',2009,'Sao Paulo');
INSERT INTO Pessoa
VALUES ('Aline','Silmara',2009,'Sao Paulo');

In [69]:
-- PARA CASA 1 --

In [70]:
-- VIEW CRIADA POR CAUSA DO BUG --
CREATE VIEW PESSOA2 AS 
SELECT NOME NOME2, NOME_DA_MAE, ANO_NASCIMENTO, NOME_CIDADE_NATAL
FROM PESSOA;

In [74]:
-- VIEW DE IRMÃOS --
CREATE VIEW IRMAOS AS
SELECT P1.nome, P2.nome2
FROM Pessoa AS P1
JOIN Pessoa2 AS P2
ON P1.nome_da_mae = P2.nome_da_mae
AND P1.NOME <> P2.NOME2;

In [112]:
CREATE VIEW TIOS AS
SELECT P1.nome SOBRINHO, P2.nome2 TIO
FROM Pessoa AS P1
JOIN IRMAOS AS P2
ON P1.nome_da_mae = P2.NOME;

SELECT * FROM TIOS

In [ ]:
-- PARA CASA 2 --

In [ ]:
CREATE TABLE Pessoa (
    nome VARCHAR(30) NOT NULL PRIMARY KEY,
    nome_da_mae VARCHAR(30) NOT NULL,
    ano_nascimento INTEGER NOT NULL,
    nome_cidade_natal VARCHAR(30),
    PRIMARY KEY(nome),
    FOREIGN KEY (nome_cidade_natal)
        references Cidade(nome_cidade)
            ON DELETE CASCADE
            ON UPDATE CASCADE
);

In [ ]:
-- PARA CASA EXERCÍCIO 1 --

In [ ]:
A)Muitos vírus tratam um medicamento
B)Cada medicamento tem um composto ativo, podendo ele ser repetitivo na tabela ou não. Eu posso dizer que cada Virus
tratam muitos medicamentos, mas não parece fazer muito sentido dizer que muitos virus tratam um atributo do medicamento.
Se for o caso do composto ativo ser como se fosse o medicamento então muitos vírus podem tratar um composto ativo

In [ ]:
-- PARA CASA EXERCÍCIO 2 --

In [ ]:
A)Muitos vírus tratam muitos medicamentos
B)Semelhantemente a questão 1, cada medicamento tem um composto ativo, podendo ele ser repetitivo na tabela ou não. 
Eu posso dizer que muitos Virus tratam muitos medicamentos, sendo uma relação de muitos pra muitos, mas não parece
fazer muito sentido dizer que muitos virus tratam um atributo do medicamento.
Se for o caso do composto ativo ser como se fosse o medicamento então muitos vírus podem tratar muitos compostos ativos.

In [ ]:
-- PARA CASA EXERCÍCIO 3 --

In [133]:
SELECT Pessoa.nome, COUNT(TIOS.TIO)/2 AS QUANTIDADE_PARENTES, CIDADE.SIGLA_ESTADO
FROM Pessoa, TIOS
JOIN CIDADE
ON PESSOA.NOME_CIDADE_NATAL = CIDADE.NOME_CIDADE
WHERE PESSOA.NOME <> TIOS.TIO AND CIDADE.SIGLA_ESTADO = CIDADE.SIGLA_ESTADO
GROUP BY PESSOA.NOME

In [ ]:
-- PARA CASA EXERCÍCIO 4 --

In [ ]:
SELECT TRATA.NOMECIENTIFICOVIRUS
FROM TRATA
JOIN TIPOPACIENTE
ON TRATA.IDTIPOPACIENTE = TIPOPACIENTE.ID
WHERE TRATA.DOSE = (SELECT MAX(DOSE) FROM TRATA) AND TIPOPACIENTE.DESCRICAO = 'IDOSO'

In [ ]:
-- PARA CASA EXERCÍCIO 5 --

In [ ]:
-- A --
SELECT MEDICAMENTO.COMPOSTOATIVO
FROM MEDICAMENTO
JOIN VIRUS
ON VIRUS.NOMEVENDAMEDICAMENTO = MEDICAMENTO.NOMEVENDA
HAVING VIRUS.INCUBACAO > 5

In [ ]:
-- B --
SELECT MEDICAMENTO.COMPOSTOATIVO
FROM MEDICAMENTO
JOIN VIRUS
ON VIRUS.NOMEVENDAMEDICAMENTO = MEDICAMENTO.NOMEVENDA
WHERE (SELECT COUNT(NOMEVENDAMEDICAMENTO)
          FROM VIRUS
          GROUP BY NOMECIENTIFICO) > 5